<script src="https://kit.fontawesome.com/a5a9299eb6.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: sticky; top: 0; background-color: wheat; z-index: 2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex" role="search" [formGroup]="alphaForm">
        <input class="form-control me-2" type="search" (input)="alpha()" placeholder="Search"   formControlName="alphaInput"   aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class=" d-flex justify-content-between ">
  <div class="d-flex flex-wrap gap-2 justify-content-center" style="width: 75%; ">
    <div *ngFor="let book of filteredBooks">
      <app-card [book]="book" (addBook)="addData($event)"></app-card>
    </div>
  </div>
  <div class="flex-grow-1 border-start">
    <h1 >Total: ${{total.toFixed()}}</h1>
    <div class="cart-items d-flex gap-3 flex-column" >
      <div *ngFor="let book of booked" class="d-flex" style="gap:10px; border: 1px solid rgb(181, 181, 181); padding: 7px; border-radius: 10px; align-items: center; justify-content: space-between;">
        <img [src]="book.obj.image" alt="" style="width: 6vw;">
        <div>
          <p>{{book.obj.title}}</p>
          <p>{{book.freq}}</p>
          <p>Price: ${{book.price}}</p>
        </div>
        <div style="display: flex; gap: 4px; align-items: center;">
          <h3 (click)="decrease(book.obj)" style="cursor: pointer;">-</h3>
          <h1 style="color: red; cursor: pointer;" (click)="remove(book.obj)">X</h1>
          <h3 (click)="increase(book.obj)" style="cursor: pointer;">+</h3>
        </div>
        
      </div>
    </div>
  </div>
</div>